/Exercícios/HoraDoSistema/nbproject/private/
/Exercícios/HoraDoSistema/build/
/Exercícios/IdiomaMaquina/nbproject/private/
/Exercícios/IdiomaMaquina/build/
/Exercícios/ResolucaoTelaMaquina/nbproject/private/
/Exercícios/ResolucaoTelaMaquina/build/
/Exercícios/OlaMundoJavaSwing/nbproject/private/
/Exercícios/OlaMundoJavaSwing/build/
/Exercícios/OlaMundoJavaFX/nbproject/private/
/Exercícios/OlaMundoJavaFX/build/
/Exercícios/TesteAplicacao/nbproject/private/
/Exercícios/RelogioSwing/nbproject/private/
/Exercícios/RelogioSwing/build/
/Exercícios/SomaSwing/nbproject/private/
/Exercícios/SomaSwing/build/
/Exercícios/SomaSwing/dist/
/Exercícios/CalculadoraIdade/nbproject/private/
/Exercícios/CalculadoraIdade/build/
/Exercícios/CalculadoraIdade/dist/
/Exercícios/Aula 15 - Métodos/MetodoEstaticoExemplo/nbproject/private/
